// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-spells {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

#game-members {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-collapse: separate;
  border-spacing: 5px;
  width: 90%;
}

#game-spells td {
  height: 50px;
}

#game-members .member_tag {
  margin-bottom: 5px;
}

.game-member img {
  width: 20px;
  float:left;
  margin-right: 10px;
}
.game-member div {
  display: inline-block;
  margin-right: 8px;
}

/*
.member_tag {
  display: inline-block;
}
.member_tag div {
  margin-left: 50px;
}
.member_tag img {
  width: 40px;
  float:left;
}
*/

.pushed_spell {
  background-color: #dcdcdc;
}

.footer-buttons {
  margin-top: 6%;
  margin-bottom: 6%;
}
