// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-spells {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
}

#game-members {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  border-collapse: separate;
  border-spacing: 5px;
  width: 90%;
}

#game-spells td {
  height: 50px;
}

.member_tag div {
  margin-left: 14%;
}
.member_tag img {
  width: 11%;
  float:left;
}

.pushed_spell {
  background-color: #f0a0f0;
}

.footer-buttons {
  margin-top: 6%;
  margin-bottom: 6%;
}
