<% content_for :add_css_include do %>
	<%= stylesheet_link_tag 'game/game-app', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :add_js_include do %>
	<%= javascript_include_tag 'game/game-app', 'data-turbolinks-track' => true %>
<% end %>

<table id="game-spells" class="table-bordered table-responsive">
</table>

<div class="text-center footer-buttons">
	<button type="button" id="back_button">Back</button>　
	<button type="button" id="reset_button">Reset</button>　
	<button type="button" id="retire_button">Retire</button>
</div>
