<% content_for :add_css_include do %>
	<%= stylesheet_link_tag 'room/room-app', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :add_js_include do %>
	<%= javascript_include_tag 'room/room-edit-app', 'data-turbolinks-track' => true %>
<% end %>

<div class="jumbotron">
  <h1><%= @room.name %></h1>
</div>

<div id="spells">
	<table id="game-spells" class="table-bordered table-responsive">
	</table>

  <div class="text-center footer-buttons">
		<button type="button" id="back_button">Back</button>　
		<button type="button" id="wiki_button">Wikipedia</button>　
    <button type="button" id="create_spell_button">Create new spell</button>
  </div>
</div>
