// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room_icons3 img {
  width: 12%;
  height: 12%;
}
.room_icons1 img {
  width: 36%;
  height: 36%;
}


.room_icons {
  margin-top: 0;
  padding: 0;
  display: inline-block;
  background-color: inherit;
  float:right;
  text-align:right;
}

#rooms {
  height: 400px;
}

.footer-buttons {
  margin-bottom: 6%;
}

#game-spells {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

#game-spells td {
  height: 50px;
}
