# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

m_config = ""

change_spell = ->
  new_name = $(this).val()
  spell_id = $(this).attr("spell_id")

  $.ajax({
    url: '/spell/edit',
    type: 'post',
    data: {id: spell_id, name: new_name},
    dataType: 'json'
    success: (data)->
      update_spell_list()
  })

clicked_spell = ->
  name = $(this).find(".spell-name").text()
  if name.length <= 0
    return

  text = $(this).find(".spell-name").text()
  spell_id = $(this).find(".spell-name").attr("spell_id")
  $(this).find(".spell-name").remove()

  elm = $("<input>", {
    type: "text",
    class: "input_name",
    spell_id: spell_id,
    value: text
  })

  $(this).append(elm)
  elm.focus()
  elm.change(change_spell)

create_room_spell = ->
  room_id = window.location.href.split('/').pop()
  $.ajax({
    url: '/room/edit/' + room_id + '/create_spell',
    type: 'post',
    data: {},
    dataType: 'json'
    success: (data)->
      update_spell_list()
  })

update_spell_list = ->
  room_id = window.location.href.split('/').pop()

  $.ajax({
    url: '/room/edit/' + room_id + '/get_spells',
    type: 'post',
    data: {},
    dataType: 'json'
    success: (data)->
      $("#spell-list .list-group-item").remove()
      for spell in data
        li = "<li class='list-group-item'>"
        li += "<span class='spell-name' spell_id='" + spell.id + "'>" + spell.name + "</span>"
        li += "</li>"
        $("#spell-list").append(li)
      $(".list-group-item").click(clicked_spell)

      if (data.length >= m_config["spell_max"])
        $("#create_spell_button").hide()
      else
        $("#create_spell_button").show()
  })

$(document).on('ready page:load', ->
  $.ajax({
    url: '/config/index',
    type: 'get',
    data: {},
    dataType: 'json'
    success: (data)->
      m_config = data
  })

  update_spell_list()
  $("#create_spell_button").click(create_room_spell)
  $("#back_button").click( ->
    location.href = '/room/index'
  )
)
