# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

setting_btn = ->
  number =  $(this).parent().attr("number")
  link = "/room/edit/" + number
  location.href = link

destroy_btn = ->
  number =  $(this).parent().attr("number")

  $.ajax({
    url: '/room/destroy',
    type: 'delete',
    data: {id: number},
    dataType: 'json'
    success: (data)->
      update_room_list()
  })

login_btn = ->
  number =  $(this).parent().attr("number")
  link = "/game/" + number + "/index"
  location.href = link

update_room_list = ->
  $("#room-list").html("")

  setting_icon = '<%= image_path("icons/setting.png") %>'
  destroy_icon = '<%= image_path("icons/destroy.png") %>'
  login_door_icon = '<%= image_path("icons/login_door.png") %>'

  $.ajax({
    url: '/room/get_list',
    type: 'get',
    data: {},
    dataType: 'json'
    success: (data)->
      for room in data
        roomid = "room" + room.id
        roomname = roomid
        if room.name != null
          roomname = room.name

        li = "<li class='list-group-item'>"
        li += roomname
        li += "<div " + "id='" + roomid + "'" + "number='" + room.id + "'" + "class='room_icons'>"
        li += "<img class='icon_setting' src='" + setting_icon + "'/>　"
        li += "<img class='icon_destroy' src='" + destroy_icon + "'/>　"
        li += "<img class='icon_login_door' src='" + login_door_icon + "'/>"
        li += "</div>"
        li += "</li>"

        $("#room-list").append(li)

      $(".icon_setting").click(setting_btn)
      $(".icon_destroy").click(destroy_btn)
      $(".icon_login_door").click(login_btn)
  })

create_room = ->
  $.ajax({
    url: '/room/create',
    type: 'post',
    data: {},
    dataType: 'json'
    success: (data)->
      ""
  })
  update_room_list()

$(document).on('ready page:load', ->
  update_room_list()
  $("#create_room_button").click(create_room)
)
